div.item {
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 16px;
  gap: 0;

  @media (prefers-color-scheme: light) {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
  }

  ion-card.summary-card {
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (prefers-color-scheme: light) {
      background: white;
      box-shadow: none;
      color: #1E2023;
    }

    @media (prefers-color-scheme: dark) {
      background: black;
      box-shadow: none;
      color: #E1DFDC;
    }

    ion-card-header { padding: 0; }
    ion-card-content { padding: 8px 0 0 0; }
    ion-card-title {
      font-size: 1.2rem;
      font-weight: 700;

      @media (prefers-color-scheme: light) {
        color: #1E2023;
      }

      @media (prefers-color-scheme: dark) {
        color: #E1DFDC;
      }
    }

    ion-card-subtitle {
      display: grid;
      gap: 16px;
      grid-template-columns: auto;

      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 8px;

      p {
        font-size: 0.7rem;

        &:nth-child(1) {
          font-size: 0.85rem;
        }
      }

      @media (prefers-color-scheme: light) {
        color: #666;
      }

      @media (prefers-color-scheme: dark) {
        color: #999;
      }
    }

    p {
      margin: 0;
      font-size: 0.9rem;

      @media (prefers-color-scheme: light) {
        color: #333;
      }

      @media (prefers-color-scheme: dark) {
        color: #CCC;
      }
    }
  }

  app-chart {
    grid-column: 1 / span 2;
  }

  div.water-buttons {
    grid-column: 1 / span 2;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 9px;

    div {
      height: 5rem;
      text-align: center;

      @media (prefers-color-scheme: light) {
        background: rgb(240, 240, 240);
        border: solid 1px rgb(235, 235, 235);
      }

      @media (prefers-color-scheme: dark) {
        background: rgb(8, 8, 8);
        border: solid 1px rgb(20, 20, 20);
      }

      img {
        width: 40px;
        height: 40px;
      }

      p {
        line-height: 0;
      }

      &:first-child::after {
        content: "";
        position: absolute;
        height: 5rem;
        width: 1px;

        // half of element width - line width - center of gap - border size
        right: calc(50% - 1px - 5px - 1px);

        // line height + border size
        margin-top: calc(-5rem + 1px);

        @media (prefers-color-scheme: light) {
          background: rgba(153, 153, 153, 0.3);
        }

        @media (prefers-color-scheme: dark) {
          background: rgba(102, 102, 102, 0.3);
        }
      }
    }
  }
}
