<ion-content [fullscreen]="true">
  <div class="auth-wrapper">

    <div class="language-switcher-container">
      <ion-select interface="popover"
                  (ionChange)="changeLanguage($event)"
                  [value]="currentLang"
                  class="language-select-custom">
        <ion-select-option value="tr">TR</ion-select-option>
        <ion-select-option value="en">EN</ion-select-option>
      </ion-select>
    </div>

    <div class="auth-card">
      <h1 class="logo">{{ 'AUTH.WELCOME' | translate }}</h1>

      <div class="tab-buttons">
        <button [class.active]="activeTab === Tabs.LOGIN" (click)="activeTab = Tabs.LOGIN">{{ 'AUTH.LOGIN_TAB' | translate }}</button>
        <button [class.active]="activeTab === Tabs.REGISTER" (click)="activeTab = Tabs.REGISTER">{{ 'AUTH.REGISTER_TAB' | translate }}</button>
      </div>

      <form *ngIf="activeTab === Tabs.LOGIN" (submit)="login(); $event.preventDefault()" class="auth-form">
        <ion-item class="input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input [placeholder]="'AUTH.USERNAME_PLACEHOLDER' | translate" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="submit-btn">{{ 'AUTH.LOGIN_BUTTON' | translate }}</ion-button>
      </form>

      <form *ngIf="activeTab === Tabs.REGISTER" (submit)="register(); $event.preventDefault()" class="auth-form">
        <ion-item class="input-item">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          <ion-input [placeholder]="'AUTH.NEW_USERNAME_PLACEHOLDER' | translate" [(ngModel)]="regUsername" name="regUsername" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" [placeholder]="'AUTH.NEW_PASSWORD_PLACEHOLDER' | translate" [(ngModel)]="regPassword" name="regPassword" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="fitness-outline" slot="start"></ion-icon>
          <ion-input type="number" [placeholder]="'AUTH.WEIGHT_PLACEHOLDER' | translate" [(ngModel)]="regWeight" name="regWeight" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-icon name="woman-outline" slot="start"></ion-icon>
          <ion-select [label]="'AUTH.GENDER_LABEL' | translate" [(ngModel)]="regGender" name="regGender">
            <ion-select-option [value]="Gender.MALE">{{ 'AUTH.MALE' | translate }}</ion-select-option>
            <ion-select-option [value]="Gender.FEMALE">{{ 'AUTH.FEMALE' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
        
         <ion-item class="input-item">
          <ion-icon name="language-outline" slot="start"></ion-icon>
          <ion-select [label]="'AUTH.LANGUAGE_LABEL' | translate" [(ngModel)]="regLang" name="regLang">
            <ion-select-option value="tr">{{ 'AUTH.TURKISH' | translate }}</ion-select-option>
            <ion-select-option value="en">{{ 'AUTH.ENGLISH' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" type="submit" class="submit-btn">{{ 'AUTH.REGISTER_BUTTON' | translate }}</ion-button>
      </form>
    </div>
  </div>
</ion-content>