<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ "SETTINGS.TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="authService.isLogged$ | async">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "SETTINGS.TITLE" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header>
    <ion-label>{{ "SETTINGS.PERSONAL.TITLE" | translate }}</ion-label>
  </ion-list-header>

  <ion-list [inset]="true">
    <ion-item>
      <ion-input [label]="`${'SETTINGS.PERSONAL.FIRST_NAME' | translate}`" labelPlacement="floating" type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [label]="`${'SETTINGS.PERSONAL.LAST_NAME' | translate}`" labelPlacement="floating" type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select [label]="'SETTINGS.PERSONAL.GENDER.TITLE' | translate" [(ngModel)]="gender">
        <ion-select-option [value]="Gender.MALE">{{ "SETTINGS.PERSONAL.GENDER.MALE" | translate }}</ion-select-option>
        <ion-select-option [value]="Gender.FEMALE">{{ "SETTINGS.PERSONAL.GENDER.FEMALE" | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select [label]="'SETTINGS.PERSONAL.LANGUAGE.TITLE' | translate" [(ngModel)]="language">
        <ion-select-option [value]="Language.TURKISH">{{ "SETTINGS.PERSONAL.LANGUAGE.TURKISH" | translate }}</ion-select-option>
        <ion-select-option [value]="Language.ENGLISH">{{ "SETTINGS.PERSONAL.LANGUAGE.ENGLISH" | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input [label]="`${'SETTINGS.PERSONAL.WEIGHT' | translate} (kg)`" labelPlacement="floating" type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>{{ "SETTINGS.LIMITS.TITLE" | translate}}</ion-label>
  </ion-list-header>

  <ion-list [inset]="true">
    <ion-item lines="none">
      <ion-input [label]="`${'SETTINGS.LIMITS.PURINE' | translate} (mg)`" labelPlacement="floating" type="number" [(ngModel)]="purineLimit"></ion-input>
      <ion-label slot="end" color="medium" style="font-size: 12px;">
        {{ "SETTINGS.LIMITS.RECOMMENDED" | translate}}: {{ recommendedPurine | number:'1.0-0' }} mg
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-input [label]="`${'SETTINGS.LIMITS.CALORIE' | translate} (mg)`" labelPlacement="floating" type="number" [(ngModel)]="kcalLimit"></ion-input>
      <ion-label slot="end" color="medium" style="font-size: 12px;">
        {{ "SETTINGS.LIMITS.RECOMMENDED" | translate}}: {{ recommendedKcal | number:'1.0-0' }} kcal
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-input [label]="`${'SETTINGS.LIMITS.SUGAR' | translate} (g)`" labelPlacement="floating" type="number" [(ngModel)]="sugarLimit"></ion-input>
      <ion-label slot="end" color="medium" style="font-size: 12px;">
        {{ "SETTINGS.LIMITS.RECOMMENDED" | translate}}: {{ recommendedSugar | number:'1.0-0' }} g
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-button expand="block" (click)="saveSettings()" class="ion-margin-top">
    {{ "SETTINGS.SAVE" | translate}}
  </ion-button>

  <ion-button expand="block" fill="outline" color="medium" (click)="resetLimits()" class="ion-margin-top">
    {{ "SETTINGS.RESET" | translate}}
  </ion-button>
</ion-content>
