ion-list-header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--ion-color-medium-shade);
  margin-top: 16px;
}

ion-list[inset] {
  border-radius: 16px;
  margin-bottom: 20px;
}

ion-button {
  height: 48px;
  font-size: 1.1rem;
}

//şimdilik tasarım böyle? // 